.datetime {

    .date {

        font-size: 40px;
        letter-spacing: 1px;
        color: white;
        text-transform: uppercase;
        margin: 0;
    }

    .time {

        font-size: 36px;
        color: white;
        margin: 0;
    }
}